.DS_Store
.idea/misc.xml
.idea/modules.xml
.idea/sdl-utils.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
sdl_utils.egg-info/dependency_links.txt
sdl_utils.egg-info/PKG-INFO
sdl_utils.egg-info/SOURCES.txt
sdl_utils.egg-info/top_level.txt
.vscode/settings.json
src/.DS_Store
src/sdl_utils/.DS_Store
